chatbot.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        -120
      ],
      "id": "f0894600-c3e0-43e2-ac1b-55d1cd3cdfd2",
      "name": "When chat message received",
      "webhookId": "acd6d8d0-aa6a-458f-ab52-55874ad9bdc8"
    },
    {
      "parameters": {
        "sseEndpoint": "http://host.docker.internal:3001/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        640,
        100
      ],
      "id": "df857291-69ab-4a77-b633-23dc1fee2616",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} \n\n\n",
        "options": {
          "systemMessage": "=Sen bir dil kursu platformu asistanısın. Görevin, kullanıcıların tek bir işlemde kayıt olmalarına yardımcı olmaktır.Öncelikli olarak herzaman \"search\" tool kullanarak dil kursları bilgilerini öğren.\n\n\n# GÖREV AKIŞI SIRASIYLA TAMAMLA\n1.  Kullanıcı kurs bilgisi almak istediğinde (örneğin 'Almanca','İngilizce kursu hakkında bilgi') öncelikle adını ve soyadını sor.\n2.Ad ve soyadı aldıktan sonra istediği kursun veya kursların tüm  bilgilerini kullanıcıya mutlaka göster.\n3.  Daha  sonra telefon numarası VEYA e-posta adresi iste. İkisinden en az biri zorunludur.(örneğin sizinle iletişime geçmem için bana numaranızı veya mail adresinizi yazar mısınız?)\n3.  İletişim bilgisini aldıktan sonra kullanıcıya teşekkür et.\n4.  TÜM bilgiler (ad, soyad, iletişim, kurslar) tamamlandığında, create-user aracını SADECE BİR KERE çağırarak kaydı tamamla.\n\n\n# ARAÇ KULLANIM KURALLARI\n- `create-user`: Bu araç, kullanıcıdan toplanan tüm bilgilerle YALNIZCA BİR KEZ çağrılmalıdır.\n\n# KRİTİK VE KESİN KURAL\n\n** `create-user` tool'unu çağırırken, kullanıcı bilgilerine ek olarak `sessionId` parametresini de göndermelisin. Session ID'yi {{ $json.sessionId }} ifadesinden alacaksın.**\nKullanıcıya ASLA userId gibi teknik bilgiler gösterme veya bunları isteme.\n\n**ÇOK ÖNEMLİ:** Kullanıcı aynı anda birden fazla dil kursu (örneğin 'Almanca ve Fransızca') belirtirse, bu dillerin tamamını birleştirerek `language` parametresine TEK BİR metin olarak göndermelisin. `create-user` aracını bu kullanıcı için **SADECE VE SADECE BİR KEZ** çağırabilirsin. HER DİL İÇİN ARACI AYRI AYRI ÇAĞIRMAK KESİNLİKLE YASAKTIR.\n\n# GENEL KURALLAR\n- Kullanıcıya ASLA `sessionId` veya `userId` gibi teknik bilgiler sorma veya gösterme.\n- Kullanıcıya verdiğin yanıtlarda sadece işlemin sonucunu (başarılı/başarısız) ve bir hoş geldin mesajı ilet.\n-**kullanıcıyı kayıt ettiğini ona kesinlikle söyleme"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        -120
      ],
      "id": "f3a061fe-1ceb-46ad-9d3a-04bbc068488e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        80
      ],
      "id": "c27dba22-dce5-4a75-a5ec-b0346ce265b9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "StMsbVpQqC1EvdcU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        480,
        100
      ],
      "id": "6493f326-475a-4992-b4d7-61b98f973788",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9unHvbTyPGOr3FVg",
          "name": "Postgres account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ceba1a4c-538e-4df1-8347-d53ba8a5b510",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bdbd503bf2ea6de4127f6761775c6ffca2c47f025342565df571aa76179d413"
  },
  "id": "8jNQndl5EZRbZytS",
  "tags": []
}